﻿@page "/CreateOrFindClan"
@using BlazorApp1.Repositories
@using BlazorApp1.Services

<PageTitle>Login</PageTitle>

<MudStack Justify=Justify.Center>
    <MudStack Justify=Justify.Center Row=true>
        <MudPaper Class="pa-8" MaxWidth="300px" >
            <MudStack>
                <MudInputString @bind-Value="ClanName" Placeholder="Enter clan name"></MudInputString>
                <MudButton OnClick="@CreateClan">Create clan</MudButton>
                <MudButton hidden="@(!isFindClanAvailable)" OnClick="@FindClan">Find Clan</MudButton>

                @if (isLoading)
                {
                    <MudProgressCircular Color="Color.Default" Indeterminate="true" />   
                }
            </MudStack>
        </MudPaper>
    </MudStack>
</MudStack>

@code{
    private string ClanName { get; set; }

    private bool isLoading = false;

    private bool isFindClanAvailable = false;

    [Inject] UserSession userSession { get; set; }
    [Inject] NavigationManager navigationManager { get; set; }
    [Inject] AccountsRepository accountsRepository { get; set; }
    [Inject] ClansRepository clansRepository { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var clansCount = await clansRepository.GetClansCountAsync();

        isFindClanAvailable = clansCount > 0;

        StateHasChanged();
    }

    async void CreateClan()
    {
        isLoading = true;
        var result = await clansRepository.CreateClan(ClanName, await userSession.GetPlayerId());
        isLoading = false;
        StateHasChanged();

        if (result.IsSuccess)
            navigationManager.NavigateTo($"/Chat/{result.Clan.Id}");
    }

    async void FindClan()
    {
         navigationManager.NavigateTo("/ListOfClans");
    }
}