﻿@page "/"
@using BlazorApp1.Repositories
@using BlazorApp1.Services

<PageTitle>Login</PageTitle>

<MudStack Justify=Justify.Center>
    <MudStack Justify=Justify.Center Row=true>
        <MudPaper Class="pa-8" MaxWidth="300px" >
            <MudStack>
                <MudInputString @bind-Value="Nickname" Placeholder="NICKNAME"></MudInputString>
                <MudInputString @bind-Value="Password" Placeholder="PASSWORD" InputType=InputType.Password></MudInputString>
                <MudButton OnClick="@OnLoginClicked">LOGIN</MudButton>
                <MudButton OnClick="@OnRegisterClicked">REGISTER</MudButton>

                @if (isLoading)
                {
                    <MudProgressCircular Color="Color.Default" Indeterminate="true" />   
                }
            </MudStack>
        </MudPaper>
    </MudStack>
</MudStack>

@code{
    private string Nickname { get; set; }
    private string Password { get; set; }

    private bool isLoading = false;

    [Inject] AuthService authService { get; set; }
    [Inject] UserSession userSession { get; set; }
    [Inject] NavigationManager navigationManager { get; set; }
    [Inject] AccountsRepository accountsRepository { get; set; }

    async void OnLoginClicked()
    {
        isLoading = true;
        var result = await authService.Login(new Models.LoginRequest() { UserName = Nickname, Password = Password });
        isLoading = false;
        StateHasChanged();

        if (result.Success)
        {
            var player = await accountsRepository.GetPlayer(await userSession.GetPlayerId());

            if(!string.IsNullOrEmpty(player.data.ClanId))
                navigationManager.NavigateTo($"/Chat/{player.data.ClanId}");
            else
            {
                navigationManager.NavigateTo("/CreateOrFindClan");   
            }
        }
    }

    async void OnRegisterClicked()
    {
        isLoading = true;
        var result = await authService.Register(new Models.LoginRequest() { UserName = Nickname, Password = Password });
        isLoading = false;
        StateHasChanged();

        if (result.Success)
        {
            navigationManager.NavigateTo("/CreateOrFindClan");   
        }
        else
            navigationManager.NavigateTo("/");
    }
}