﻿@page "/ListOfClans"
@using BlazorApp1.Models
@using BlazorApp1.Repositories
@using BlazorApp1.Services

@inject ClansRepository clanRepository

<MudTable Items="@clans" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<ClanDoc,bool>(FilterFunc)">
    <ToolBarContent>
        <MudText Typo="Typo.h6">MAKE THE BEST CHOICE!</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Clan</MudTh>
        <MudTh>Owner</MudTh>
        <MudTh>Players</MudTh>
        <MudTh>MaxPlayers</MudTh>
        <MudTh>JOIN</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Clan">@context.data.Name</MudTd>
        <MudTd DataLabel="Owner">@context.data.OwnerId</MudTd>
        <MudTd DataLabel="Players">@context.data.PlayersIds.Count</MudTd>
        <MudTd DataLabel="MaxPlayers">@context.data.MaxPlayersAmount</MudTd>
        <MudTd DataLabel="JOIN"><MudButton OnClick="() => OnJoinClicked(context)"> >JOIN</MudButton></MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>



@code {
    private string searchString;

    private List<ClanDoc> clans;

    [Inject] NavigationManager navigationManager { get; set; }
    [Inject] UserSession userSession { get; set; }
    [Inject] AccountsRepository accountsRepository { get; set;  }
    [Inject] ClansRepository clansRepository { get; set; }

    protected override async Task OnInitializedAsync()
    {
        clans = await clanRepository.GetClansAsync();
    }

    private async void OnJoinClicked(ClanDoc clan)
    {
        var currentPlayerId = await userSession.GetPlayerId();
        var player = await accountsRepository.GetPlayer(currentPlayerId);

        await clansRepository.RemovePlayerFromClan(player.data.ClanId, currentPlayerId);
        await clansRepository.AddPlayerToClan(clan.Id, currentPlayerId);
        navigationManager.NavigateTo($"/Chat/{clan.Id}");
    }

    private bool FilterFunc(ClanDoc clan)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (clan.data.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (clan.data.OwnerId != null && clan.data.OwnerId.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }
}
