﻿@using BlazorApp1.Repositories
@using BlazorApp1.Services
@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<PageTitle>POWER OF CLANS</PageTitle>


<MudLayout>
    <MudAppBar Elevation="1" Color=Color.Dark>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">@playerName</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
            <MudNavLink Href="/ListOfClans" Icon="@Icons.Filled.People">CLANS</MudNavLink>
            <MudNavLink Disabled=@(clanId == null) Href=@("/chat/" + clanId) Icon="@Icons.Filled.Chat">Clan Chat</MudNavLink>
        </MudNavMenu> 
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    [Inject] UserSession userSession { get; set; }
    [Inject] AccountsRepository accountRepository { get; set; }

    private string clanId;
    private string playerName;

    bool _drawerOpen = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (await userSession.IsAuthenticated())
        {
            var player = await accountRepository.GetPlayer(await userSession.GetPlayerId());

            if (player != null)
            {
                clanId = player.data.ClanId;
                playerName = player.data.Name;
                StateHasChanged();
            }
        }

        base.OnAfterRenderAsync(firstRender);
    }

    async void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;

    }
}